html
    head
        include head.pug
    body(class="hold-transition skin-purple-light sidebar-mini")
        include nav.pug
        include sidebar.pug
    include javascript.pug
    include table.pug