// jQuery 3
script(src='adminlte/bower_components/jquery/dist/jquery.min.js')
// jQuery UI 1.11.4
script(src='adminlte/bower_components/jquery-ui/jquery-ui.min.js')
// Resolve conflict in jQuery UI tooltip with Bootstrap tooltip
script.
    $.widget.bridge('uibutton', $.ui.button);
// Bootstrap 3.3.7
script(src='adminlte/bower_components/bootstrap/dist/js/bootstrap.min.js')
// Morris.js charts
script(src='adminlte/bower_components/raphael/raphael.min.js')
script(src='adminlte/bower_components/morris.js/morris.min.js')
// Sparkline
script(src='adminlte/bower_components/jquery-sparkline/dist/jquery.sparkline.min.js')
// jvectormap
script(src='adminlte/plugins/jvectormap/jquery-jvectormap-1.2.2.min.js')
script(src='adminlte/plugins/jvectormap/jquery-jvectormap-world-mill-en.js')
// jQuery Knob Chart
script(src='adminlte/bower_components/jquery-knob/dist/jquery.knob.min.js')
// daterangepicker
script(src='adminlte/bower_components/moment/min/moment.min.js')
script(src='adminlte/bower_components/bootstrap-daterangepicker/daterangepicker.js')
// datepicker
script(src='adminlte/bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js')
// Bootstrap WYSIHTML5
script(src='adminlte/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js')
// Slimscroll
script(src='adminlte/bower_components/jquery-slimscroll/jquery.slimscroll.min.js')
// FastClick
script(src='adminlte/bower_components/fastclick/lib/fastclick.js')
// AdminLTE App
script(src='adminlte/dist/js/adminlte.min.js')
// AdminLTE dashboard demo (This is only for demo purposes)
script(src='adminlte/dist/js/pages/dashboard.js')
// AdminLTE for demo purposes
script(src='adminlte/dist/js/demo.js')
// DataTables
script(src='../../adminlte/bower_components/datatables.net/js/jquery.dataTables.min.js')
script(src='../../adminlte/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js')
// SlimScroll
script(src='../../adminlte/bower_components/jquery-slimscroll/jquery.slimscroll.min.js')
// FastClick
script(src='../../adminlte/bower_components/fastclick/lib/fastclick.js')

script.
    $(function () {
        $('#example1').DataTable()
        $('#example2').DataTable({
            'paging'      : true,
            'lengthChange': false,
            'searching'   : false,
            'ordering'    : true,
            'info'        : true,
            'autoWidth'   : false
        })
    })

