.main
    // Sign up form
    section.signup
        .container
            .signup-content
                .signup-form
                    h2.form-title Sign up
                    form#register-form.register-form(method='POST')
                        .form-group
                            label(for='name')
                                i.zmdi.zmdi-account.material-icons-name
                            input#name(type='text', name='name', placeholder='Your Name')
                        .form-group
                            label(for='email')
                                i.zmdi.zmdi-email
                            input#email(type='email', name='email', placeholder='Your Email')
                        .form-group
                            label(for='pass')
                                i.zmdi.zmdi-lock
                            input#pass(type='password', name='pass', placeholder='Password')
                        .form-group
                            label(for='re-pass')
                                i.zmdi.zmdi-lock-outline
                            input#re_pass(type='password', name='re_pass', placeholder='Repeat your password')
                        .form-group
                            input#agree-term.agree-term(type='checkbox', name='agree-term')
                            label.label-agree-term(for='agree-term')
                                span
                                    span
                                | I agree all statements in
                                a.term-service(href='#') Terms of service
                        .form-group.form-button
                            input#signup.form-submit(type='submit', name='signup', value='Register')
                .signup-image
                    figure
                        img(src='loginasset/images/signup-image.jpg', alt='sing up image')
                    a.signup-image-link(href='#') I am already member
    // Sing in  Form
    section.sign-in
        .container
            .signin-content
                .signin-image
                    figure
                        img(src='loginasset/images/signin-image.jpg', alt='sing up image')
                    a.signup-image-link(href='#') Create an account
                .signin-form
                    h2.form-title Sign up
                    form#login-form.register-form(method='POST')
                        .form-group
                            label(for='your_name')
                                i.zmdi.zmdi-account.material-icons-name
                            input#your_name(type='text', name='your_name', placeholder='Your Name')
                        .form-group
                            label(for='your_pass')
                                i.zmdi.zmdi-lock
                            input#your_pass(type='password', name='your_pass', placeholder='Password')
                        .form-group
                            input#remember-me.agree-term(type='checkbox', name='remember-me')
                            label.label-agree-term(for='remember-me')
                                span
                                    span
                                | Remember me
                        .form-group.form-button
                            input#signin.form-submit(type='submit', name='signin', value='Log in')
                    .social-login
                        span.social-label Or login with
                        ul.socials
                            li
                                a(href='#')
                                    i.display-flex-center.zmdi.zmdi-facebook
                            li
                                a(href='#')
                                    i.display-flex-center.zmdi.zmdi-twitter
                            li
                                a(href='#')
                                    i.display-flex-center.zmdi.zmdi-google
// JS
script(src='loginasset/vendor/jquery/jquery.min.js')
script(src='loginasset/js/main.js')
